.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.folderContainer {
    width: 150px;
    position: relative;
    cursor: pointer;
    height: 150px;
}

.folderContainer:hover .shieets {
    transform: translateY(-20px) scale(1.06);
}

.folder {
    position: relative;
    display: flex;
}

.back {
    width: 150px;
    position: absolute;
    z-index: 0;
}

.front {
    width: 150px;
    height: 90px;
    background-color: color-mix(in srgb, var(--color-main) 37%, transparent);
    backdrop-filter: blur(4px);
    position: absolute;
    z-index: 1;
    top: 54px;
    border-radius: 9px;

    padding: 0.3em;
    font-weight: bold;
    color: color-mix(in srgb, var(--color-main), black 25%);
    
}

.subject {
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;       
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.a {
    backdrop-filter: var(--blur-main);
}

.shieets {
    width: 150px;
    position: absolute;
    z-index: 1;
    top: 12px;
    transform: scale(1.06);
    transition: transform 0.3s ease-in-out; 
    will-change: transform;

}

.doneContainer {
    display: flex;
    flex-direction: column;
}

.doneTop {
    display: flex;
    cursor: pointer;
    gap: .5em;
}

.doneTop svg {
    width: 16px;
    height: 16px;
    transform: rotate(90deg);
}