.sidebar {
    background-color: var(--color-bg);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: var(--shadow-main);
    display: flex;
    flex-direction: column;
    padding: 1.5em 0;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 60px;
    transition: width 0.3s ease-in-out;
    user-select: none;
    overflow: hidden;
    z-index: 2;
    cursor: ew-resize;
}

.expanded {
    width: 220px;
    cursor: default;
}

.logo {
    padding: 0 15px;
    height: 36px;
    display: flex;
    align-items: center;
}

.logo img {
    height: 36px;
    width: auto;
}

.svgLogo {
    height: 36px;
    width: auto;
}

.svgLogoFull {
    height: 36px;
    width: auto;
}

.icons { 
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 20px;
}

.expanded .icons {
    width: 180px;
}

.iconsPages, .iconsSettings {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    cursor: default;
}

.logoWrap {
    width: 30px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expandIcon {
    height: 20px;
    width: 20px;
    color: var(--color-ui-secondary);
    transform: scale(100%);
    transition: transform 0.1s ease;
    cursor: ew-resize;
}

.expandIcon:hover {
    transform: scale(90%);
}

.topMenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logoFullWrap {
  width: 30px;          /* старт як іконка */
  height: 36px;
  overflow: hidden;
  transition: width 0.3s ease;
}

/* коли сайдбар відкритий */
.expanded .logoFullWrap {
  width: 120px; /* або 89px або скільки треба */
}

.svgLogoFull {
  height: 36px;
  width: 89px; /* ФІКС, не auto */
  flex-shrink: 0; /* щоб flex не стискав */
}