.container {
    padding: 2% 6%;
    height: 100vh;
    background: var(--bg-img);
    width: 100%;
    background-size: cover;
    overflow-y: auto;
    scrollbar-color: transparent transparent;
}

* {
    scrollbar-color: var(--color-ui-secondary) transparent;
}