.button {
    background: var(--color-main);
    box-shadow: var(--shadow-main);
    border-radius: var(--radius-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 38px;
    color: var(--color-text-opposite);
}

.text {
    font-size: 14px;
    text-align: center;
}